*.html
venv/
data/
.ipynb_checkpoints/
*~
betting/
betting.tar.gz
blog/.conf.py.swp
blog/.doit.db
blog/.doit.db.bak
blog/.doit.db.dat
blog/.doit.db.dir
blog/README.txt
blog/__pycache__/
blog/cache/
blog/files/
blog/output/
blog/posts/__pycache__/

